<form action="http://localhost:3000/files" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>Formulaire de test d'envoi d'image</legend><br>
        <label for="file">Choisissez un fichier</label>
        <input type="file" name="file"><br><br>
        <label for="file">Description de l'image</label>
        <input type="text" name="description"><br><br>

        <input type="text" name="userId" value="666fe95e5c6039c03e5a3be4" hidden>
        <input type="submit" value="Envoyer" >
    </fieldset>
</form>